#container {
    display: flex;

    justify-content: center;
}

#cont-interfaccia {
    display:flex;
    justify-content: center;

    max-width: 1000px;
    height: 500px;

    position: relative;

}


#cont-img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}


#freccia-su {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;

    color: blue;
}

#freccia-giu {
    position: absolute;
    bottom: 1px;
    right: 50%;
    left: 50%;

    color: blue;

}

