#container {
    display: flex;

    justify-content: center;
}

#cont-interfaccia {
    display:flex;
    justify-content: center;

    max-width: 1000px;
    height: 500px;

    position: relative;

}


#cont-img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}


#freccia-su {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;


}

#freccia-giu {
    position: absolute;
    bottom: 1px;
    right: 50%;
    left: 50%;


}

#freccia-giu i,
#freccia-su i {
        color: rgb(0, 0, 255);
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

#freccia-giu i:hover,
#freccia-su i:hover {
    opacity: 1;
}

#cont-anteprime {
    position: absolute;
    right: 0;

    height: 100%;

    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.anteprime {
    object-fit: cover;
    opacity: 0.2;
}

.active {
    opacity: 1;
}

